<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Italian Spinone</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="http://snowydaysspinoneitaliano.com/images/Chinook_-_1st_Litter.JPG" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Spinone Italiano (Italian pronunciation: [spiˈnoːne itaˈljaːno][note 1]) is an Italian dog breed. It was originally bred
      as a versatile gun dog. To this day, the breed is still a capable dog for that purpose. The Spinone is a loyal, friendly
      and alert dog with a close lying, wiry coat. It is an ancient breed that can be traced back to approximately 500 BC.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
